/* Define CSS Variables for Theming */
:root {
  --bg-color: #fff;
  --text-color: #000;
  --input-bg-color: #f0f0f0;
  --input-text-color: #000;
  --text-color:#6b6b6b;
}

[data-theme='dark'] {
  --bg-color: #2e2e2e;
  --text-color: #f0f0f0;
  --input-bg-color: #3a3a3a;
  --input-text-color: #f0f0f0;
}

/* Base Styles */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}
h2{
  text-align: center;
  color:var(--text-color);
}
input, select {
  background-color: var(--input-bg-color);
  color: var(--input-text-color);
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

/* Responsive Form Styles */
.main-continer {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

.form_main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.radio-box{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.input-wrapper {
  margin-bottom: 1rem;
}

button {
  padding: 0.5rem 1rem;
  background-color: var(--input-bg-color);
  color: var(--input-text-color);
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #007BFF;
  color: #fff;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

/* Media Queries for Smaller Screens */
@media (max-width: 768px) {
  .form_main {
      grid-template-columns: 1fr;
  }
}
